body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.4fr 2.7fr;
  grid-auto-columns: 1fr;
  gap: 0em 1em;
  grid-auto-flow: row;
  color: #edc988;
  grid-template-areas:
    ". matchHistory ."
    ". matchGames ."
    ". returnHome .";
  ;
}

.matchHistory {
  grid-area: matchHistory;

}

.matchGames {
  display: grid;
  grid-template-columns: 1fr 1fr 0.8fr 1fr 1.4fr 1.4fr;
  grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr;
  gap: 10px 0px;
  grid-auto-flow: row;
  grid-area: matchGames;

}


.game1 {
  grid-area: 1 / 1 / 2 / 7;
  border: 2px solid black;
}

.game2 {
  grid-area: 2 / 1 / 3 / 7;
  border: 2px solid black;
}

.game3 {
  grid-area: 3 / 1 / 4 / 7;
  border: 2px solid black;
}

.game4 {
  grid-area: 4 / 1 / 5 / 7;
  border: 2px solid black;
}

.game5 {
  grid-area: 5 / 1 / 6 / 7;
  border: 2px solid black;
}

.game6 {
  grid-area: 6 / 1 / 7 / 7;
  border: 2px solid black;
}

.game7 {
  grid-area: 7 / 1 / 8 / 7;
  border: 2px solid black;
}

.returnHome {
  grid-area: 3 / 2 / 4 / 3;
  display: grid;
  justify-content: center;
}

.enemy-team1 {
  grid-area: 1 / 6 / 2 / 7;
  display: grid;
  align-items: center;
  padding-top: 11%;
}

.ally-team1 {
  grid-area: 1 / 5 / 2 / 6;
  display: grid;
  align-items: center;
  padding-top: 11%;
}

img {
  /* this is for all images */
  width: 37px;
}

.ally-team1 ul {
  list-style-type: none;
  padding: 0;
}

.enemy-team1 ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 13px;
}

ul img {
  flex-basis: 40%;
  max-width: 30px;
}

.items1 {
  grid-area: 1 / 4 / 2 / 5;
  padding-top: 35%;
}

.kda1 {
  grid-area: 1 / 3 / 2 / 4;
  display: grid;
  align-items: center;
}

.kda1 ul {
  padding: 15px;
}

.champion1 {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  align-items: center;
}

.row1 {
  display: flex;
}

.column1 {
  flex: 30%;
}

.column .imageChamp1 {
  width: 80%;
}

.column1 .ImageSpell1 img {
  width: 35px;
}

.winloss1 {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-column-gap: 15px;
}

.winloss1 ul {
  padding: 0px;
}

.winloss2 {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-column-gap: 15px;
}

.winloss2 ul {
  padding: 0px;
}

.champion2 {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  align-items: center;
}

.kda2 {
  grid-area: 2 / 3 / 3 / 4;
  display: grid;
  align-items: center;
}

.kda2 ul {
  padding: 15px;
}

.items2 {
  grid-area: 2 / 4 / 3 / 5;
  padding-top: 35%;
}

.ally-team2 {
  grid-area: 2 / 5 / 3 / 6;
  display: grid;
  align-items: center;
  padding-top: 11%;
}

.ally-team2 ul {
  list-style-type: none;
  padding: 0;
}

.enemy-team2 {
  grid-area: 2 / 6 / 3 / 7;
  display: grid;
  align-items: center;
  padding-top: 11%;
}

.enemy-team2 ul {
  list-style-type: none;
  padding: 0;
}

.winloss3 {
  grid-area: 3 / 1 / 4 / 2;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-column-gap: 15px;
}

.winloss3 ul {
  padding: 0px;
}

.champion3 {
  grid-area: 3 / 2 / 4 / 3;
  display: grid;
  align-items: center;
}

.kda3 {
  grid-area: 3 / 3 / 4 / 4;
  display: grid;
  align-items: center;
}

.kda3 ul {
  padding: 15px;
}

.items3 {
  grid-area: 3 / 4 / 4 / 5;
  padding-top: 35%;
}

.ally-team3 {
  grid-area: 3 / 5 / 4 / 6;
  display: grid;
  align-items: center;
  padding-top: 11%;
}

.ally-team3 ul {
  list-style-type: none;
  padding: 0;
}

.enemy-team3 {
  grid-area: 3 / 6 / 4 / 7;
  display: grid;
  align-items: center;
  padding-top: 11%;
}

.enemy-team3 ul {
  list-style-type: none;
  padding: 0;
}

.winloss4 {
  grid-area: 4 / 1 / 5 / 2;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-column-gap: 15px;
}

.winloss4 ul {
  padding: 0px;
}

.champion4 {
  grid-area: 4 / 2 / 5 / 3;
  display: grid;
  align-items: center;
}

.kda4 {
  grid-area: 4 / 3 / 5 / 4;
  display: grid;
  align-items: center;
}

.kda4 ul {
  padding: 15px;
}

.items4 {
  grid-area: 4 / 4 / 5 / 5;
  padding-top: 35%;
}

.ally-team4 {
  grid-area: 4 / 5 / 5 / 6;
  display: grid;
  align-items: center;
  padding-top: 11%;
}

.ally-team4 ul {
  list-style-type: none;
  padding: 0;
}

.enemy-team4 {
  grid-area: 4 / 6 / 5 / 7;
  display: grid;
  align-items: center;
  padding-top: 11%;
}

.enemy-team4 ul {
  list-style-type: none;
  padding: 0;
}

.winloss5 {
  grid-area: 5 / 1 / 6 / 2;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-column-gap: 15px;
}

.winloss5 ul {
  padding: 0px;
}

.champion5 {
  grid-area: 5 / 2 / 6 / 3;
  display: grid;
  align-items: center;
}

.kda5 {
  grid-area: 5 / 3 / 6 / 4;
  display: grid;
  align-items: center;
}

.kda5 ul {
  padding: 15px;
}

.items5 {
  grid-area: 5 / 4 / 6 / 5;
  padding-top: 35%;
}

.ally-team5 {
  grid-area: 5 / 5 / 6 / 6;
  display: grid;
  align-items: center;
  padding-top: 11%;
}

.ally-team5 ul {
  list-style-type: none;
  padding: 0;
}

.enemy-team5 {
  grid-area: 5 / 6 / 6 / 7;
  display: grid;
  align-items: center;
  padding-top: 11%;
}

.enemy-team5 ul {
  list-style-type: none;
  padding: 0;
}

.winloss6 {
  grid-area: 6 / 1 / 7 / 2;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-column-gap: 15px;
}

.winloss6 ul {
  padding: 0px;
}

.champion6 {
  grid-area: 6 / 2 / 7 / 3;
  display: grid;
  align-items: center;
}

.kda6 {
  grid-area: 6 / 3 / 7 / 4;
  display: grid;
  align-items: center;
}

.kda6 ul {
  padding: 15px;
}

.items6 {
  grid-area: 6 / 4 / 7 / 5;
  padding-top: 35%;
}

.ally-team6 {
  grid-area: 6 / 5 / 7 / 6;
  display: grid;
  align-items: center;
  padding-top: 11%;
}

.ally-team6 ul {
  list-style-type: none;
  padding: 0;
}

.enemy-team6 {
  grid-area: 6 / 6 / 7 / 7;
  display: grid;
  align-items: center;
  padding-top: 11%;
}

.enemy-team6 ul {
  list-style-type: none;
  padding: 0;
}

.winloss7 {
  grid-area: 7 / 1 / 8 / 2;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-column-gap: 15px;
}

.winloss7 ul {
  padding: 0px;
}

.champion7 {
  grid-area: 7 / 2 / 8 / 3;
  display: grid;
  align-items: center;
}

.kda7 {
  grid-area: 7 / 3 / 8 / 4;
  display: grid;
  align-items: center;
}

.kda7 ul {
  padding: 15px;
}

.items7 {
  grid-area: 7 / 4 / 8 / 5;
  padding-top: 35%;
}

.ally-team7 {
  grid-area: 7 / 5 / 8 / 6;
  display: grid;
  align-items: center;
  padding-top: 11%;
}

.ally-team7 ul {
  list-style-type: none;
  padding: 0;
}

.enemy-team7 {
  grid-area: 7 / 6 / 8 / 7;
  display: grid;
  align-items: center;
  padding-top: 11%;
}

.enemy-team7 ul {
  list-style-type: none;
  padding: 0;
}